/* Start Rulze */

* {
    box-sizing: border-box
}

body {
    font-family: 'Roboto'
}

:root {
    --theme-color: #b1b493
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.7);
}

/* End Rulze */
/* Start Main */
.main {
    background: #333;
    padding: 7px 0;
    color: #fff;
    border-bottom: 1px solid #656565
}

.main img {
    max-width: 50px;
    border: 2px solid #757575
}

/* End Main */

/* Start Header */

.header {
    background: url(../img/header.jpg);
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.header .info {
    position: relative;
    color: #fff;
    z-index: 2
}

.header .info h4 {
    font-size: 40px
}

.header .info h2 {
    margin: 0;
    font-size: 40px;
    font-weight: bold
}

.header .info h4 i,
.header .info h2 span {
    color: var(--theme-color)
}

.header .info p {
    margin: 10px 0 0;
    font-size: 28px;
    letter-spacing: 5px
}

.header .social {
    margin: 15px 0 0;
    padding: 0
}

.header .social li {
    background: #333;
    margin-right: 5px;
    display: inline-block;
    font-size: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50px;
    border: 2px dotted #828282;
    cursor: pointer;
    transition: .5s
}

.header .social li:hover {
    transform: rotate(360deg) scale(1.2)
}

.header .social li a {
    text-decoration: none;
    color: #f2f2f2
}

.navbar {
    position: relative;
    padding: 0 !important
}

.navbar .icon {
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 2;
    cursor: pointer
}

.navbar .icon i {
    background: #3c3c3c;
    color: #fff;
    padding: 10px 0;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px
}

.navbar .links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 18%;
    background: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2
}

.navbar .links li {
    padding: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid #444;
    font-weight: bold
}

.navbar .links li a {
    text-decoration: none;
    color: #fff;
    transition: .5s
}

.navbar .links li a.active {
    color: var(--theme-color)
}

.navbar .links li a:hover {
    color: var(--theme-color);
    padding-left: 20px
}

.navbar .links li a i {
    width: 40px
}

.navbar .links span {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 30px;
    background: #3c3c3c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    font-size: 20px
}

/* End Header */

/* Start About */

.about {
    background: #f9f9f9;
    padding: 80px 0
}

.about .img {
    background: #f3f3f3;
    border-radius: 50%
}

.about .img img {
    display: block;
    max-width: 100%;
    padding: 4px;
    border-radius: 50%;
    transform: translate(20px, 20px)
}

.about .info {
    margin-top: 30px
}

.about .info span {
    text-transform: uppercase;
    color: var(--theme-color)
}

.about .info h1 {
    margin: 0;
    font-weight: bold
}

.about .info p {
    margin: 0;
    margin-top: 10px;
    color: #656565
}

.about .info .cv {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px
}

.about .info .cv li {
    margin: 10px 0 0;
    padding: 7px 10px;
    color: #656565
}

.about .info .cv li:nth-child(even) {
    background: #f1f1f1;
    border-radius: 5px
}

.about .info .cv li span {
    width: 100px;
    display: inline-block;
    font-weight: bold
}

.about .info a {
    display: inline-block;
    background: var(--theme-color);
    border: 3px solid #fff;
    padding: 5px 30px;
    outline: 3px solid var(--theme-color);
    text-decoration: none;
    color: #fff;
    transition: .5s
}

.about .info a:hover {
    margin-top: -7px
}

/* End About */

/* Start Skills */

.skills {
    padding: 80px 0
}

.skills .info {
    margin-bottom: 50px
}

.skills .info h1 {
    margin: 0;
    font-weight: bold
}

.skills .info p {
    margin: 0;
    margin-top: 10px;
    color: #656565
}

.skills .boxs-skills .box {
    margin-bottom: 20px;
    font-weight: bold;
    position: relative
}

.skills .boxs-skills .box label {
    letter-spacing: 1px
}

.skills .boxs-skills .box span {
    position: absolute;
    right: 0;
    color: var(--theme-color)
}

.skills .boxs-skills .box .progress {
    border-radius: 0;
    background: #f5f5f5;
    height: 25px
}

.skills .boxs-skills .box .progress .bg-pm {
    background: var(--theme-color)
}

/* End Skills */

/* Start Servcies */

.servcies {
    padding: 80px 0;
    background: #f9f9f9
}

.servcies .info {
    margin-bottom: 50px
}

.servcies .info h1 {
    margin: 0;
    font-weight: bold
}

.servcies .info p {
    margin: 0;
    margin-top: 10px;
    color: #656565
}

.servcies .box {
    margin-bottom: 15px;
    background: #fff;
    position: relative;
    padding: 30px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center
}

.servcies .box i,
.servcies .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    line-height: 90px;
    font-size: 25px;
    background: var(--theme-color);
    color: #fff;
    font-weight: bold
}

.servcies .box h3 {
    margin: 0;
    color: var(--theme-color);
    font-size: 25px;
    font-weight: bold
}

/* End Servcies */

/* Start Works */

.works {
    padding: 80px 0
}

.works .info {
    margin-bottom: 50px
}

.works .info h1 {
    margin: 0;
    font-weight: bold
}

.works .info p {
    margin: 0;
    margin-top: 10px;
    color: #656565
}

.works .box {
    margin-bottom: 20px;
    background: #f7f7f7;
    position: relative;
    padding: 15px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 250px
}

.works .box h4 {
    margin: 0;
    font-weight: bold;
    color: var(--theme-color)
}

.works .box p {
    margin: 5px 0 15px;
    color: #656565
}

.works .box a {
    text-decoration: none;
    color: #fff;
    outline: none;
    background: var(--theme-color);
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes scale {
    to {
        transform: scale(1.1)
    }
}

.works .box img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 110px;
    display: block;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    padding: 3px 0 0 3px;
    border-top-left-radius: 5px
}

/* End Works */

/* Start Contact Me */

.contact {
    padding: 80px 0;
    background: #f9f9f9
}

.contact .info {
    margin-bottom: 80px
}

.contact .info h1 {
    margin: 0;
    font-weight: bold
}

.contact .info p {
    margin: 0;
    margin-top: 10px;
    color: #656565
}

.contact .cont-me .details {
    margin: 0;
    padding: 0
}

.contact .cont-me .details li {
    margin: 25px 0;
    position: relative
}

.contact .cont-me .details li h3 {
    font-weight: bold
}

.contact .cont-me .details li p {
    color: #aaa
}

.contact .cont-me .details li h3,
.contact .cont-me .details li p {
    margin: 0;
    margin-left: 60px
}

.contact .cont-me .details li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    background: var(--theme-color);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border: 2px solid var(--theme-color)
}

.contact .form {
    padding-top: 15px;
    position: relative
}

.contact .form .error {
    background-color: #91091e;
    padding: 10px 15px;
    text-align: left;
    border-left: 5px solid var(--theme-color);
    margin: 0 auto 25px;
    color: #fff
}

.contact .form .alert-success {
    background: var(--theme-color);
    color: #fff;
    margin: 0 auto 25px;
    border-radius: 0;
    font-size: 18px;
    text-align: left;
    border-color: initial;
    padding: 7px 15px
}

.contact .form .form-control {
    margin-bottom: 15px;
    border: 2px solid var(--theme-color);
    border-radius: 0;
    outline: none !important;
    box-shadow: none !important
}

.contact .form textarea {
    height: 180px;
    resize: none
}

.contact .form input[type="submit"] {
    border: 2px solid var(--theme-color);
    background: var(--theme-color);
    color: #fff;
    outline: none;
    padding: 7px 30px;
    border-radius: 0;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    right: 14px
}

.contact .form input:not([type="submit"]):focus::placeholder,
.contact .form textarea:focus::placeholder {
    opacity: 0
}

/* End Contact Me */

/* Start Footer */

.footer {
    background: var(--theme-color);
    color: #fff;
    padding: 15px 0
}

.footer .copyright span i,
.footer .copyright span strong {
    color: #de4463
}

/* End Footer */